* {
	margin: 0px;
	padding: 0px;
}
.floatLeft {
	float: left;
}
.clear {
	clear: both;
}
body {
	font-family: Tahoma, Geneva, sans-serif;
	color: #153728;
}
p {
	font-size: .90em;
}
h1 {
	font-size: 0.95em;
	margin-bottom: 10px;
}
#mainContent {
	height: 600px;
	width: 645px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	padding: 140px 70px 0px 100px;
}
#mainContent img {
	padding-right: 10px;
}
#navButtons {
	position: absolute;
	right: 0px;
	bottom: 150px;
	z-index: 99;
	padding: 0px;
}
#mDescrip {
	width: 620px;
	height: 220px;
	border: 2px solid #8AB146;
	padding: 10px;
}
#monsterNav{
	margin: 0;
	padding: 3px 0px;
	width: 100%;
	list-style: none;
}
#monsterNav li{
	display: inline;
	background: #8AAF43;
	border: 1px solid #888;
	border-bottom: 0;
	margin-right:2px;
	padding: 3px;
	color: #FFF;
}
#monsterNav a {
	color: #FFF;
	text-decoration: none;
}
#monsterNav li a:hover{
	color:#D5CE3A;
}
#monsterNav li.current {
	background: #2CB3E7;
	padding-bottom: 4px;
}
